{% extends 'base.html.twig' %}

{% block title %} Ajouter un nouveau message personnalisé - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="row">
            <h1 class="center-align">Ajout d'un nouveau message personnalisé</h1>
        </div>
        <div class="row mt-4">
            {% if formulaire is defined %}
                {{ form_start(formulaire, { 'attr': { 'class': 'validate' } }) }}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">title</i>
                        {{ form_widget(formulaire.titre, { 'attr': { 'class': 'validate' } }) }}
                        {{ form_label(formulaire.titre) }}
                        {{ form_help(formulaire.titre) }}
                        {{ form_errors(formulaire.titre) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">chat</i>
                        {{ form_widget(formulaire.contenu, { 'attr': { 'class': 'validate materialize-textarea' } }) }}
                        {{ form_label(formulaire.contenu) }}
                        {{ form_help(formulaire.contenu) }}
                        {{ form_errors(formulaire.contenu) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        {{ form_widget(formulaire.users, { 'attr': { 'class': 'validate' } }) }}
                        {{ form_label(formulaire.users) }}
                        {{ form_help(formulaire.users) }}
                        {{ form_errors(formulaire.users) }}
                    </div>
                </div>
                <div class="row">
                    {{ form_widget(formulaire.submit, { 'label': 'Ajouter le message' }) }}
                </div>
                {{ form_end(formulaire) }}
            {% endif %}
        </div>
        <div class="row mt-4 mb-4">
            <a href="{{ path('app_index_admin') }}" class="btn monpro waves-effect waves-light center">Retour à l'administration</a>
        </div>
    </div>
{% endblock %}